[Unit]
Description=Script
After=getty@tty2.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/user-install.sh
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target

